{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/script_list.js"></script>
{% endblock %}

{% block info_panel %}
        <img src="{{ page_icon|default('/static/img/help_about.png') }}"/> 
{% endblock %}


{% block content %}
    <div id="info_content">
        <p>Привіт!</p>
        <p>Даний сайт розроблено як тестове завдання для випробування власних сил
    та набуття нових навичок у програмуванні. І являє собою сайт для керування електронною бібліотекою.
    Основні можлвості:</p>
    <ul>
        <li>Додавання, редагування та видалення книга(авторів)</li>
        <li>Відносно зручне звязування книг за авторами (мають відношення багато до багатьох)</li>
        <li>Пошук книг за назвою або за автором</li>
        <li>Фільтрацію та сортування книг(авторів) відображенних на сторінці</li>
    </ul>
   
    <p>Використані технології</p>
    <ul>
        <li>Flask</li>
        <li>SQLAlchemy (Declarative)</li>
        <li>SQLite</li>
        <li>Jinja2 Templates</li>
        <li>WTForms</li>
        <li>jQuery</li>
    </ul>

    <p>На сторінці переліку книг(авторів) користувач може:</p>
    <ul>
        <li>сортувати файли зручним образом (клікнувши по заголовку відповідної колонки)</li>
        <li>для сторінки книг - переходити до автора книгі (клікнувши на посилання)</li>
        <li>подвійним кліком переходити до перегляду обраного запису</li>
        <li>виокремлювати кілька записів за допомогою клавіш (Ctrl | Shift) & click. 
            В цьому випадку для записів стають доступними командні операції (в нашому
            випадку - на панелі з’являється кнопка "видалити"</li>
        <li>додати запис скориставшись кнопкою "add" та перейшовши до відповідної сторінки</li>
        <li>відфільтрувати відображені рядки за допомогою поля Фільтр. Фільтрація реєстронезалежна.</li>
    </ul>
    <p>На сторінці перегляду запису:</p>
    <ul>
        <li>додати, редагувати або видалити поточний запис скориставшись відповідними кнопками меню</li>
        <li>перейти до сторінки редагування поточного запису подвійним кліком</li>
        <li>перейти до початкового переліку клікнувши іконку на початку панелі меню</li>
    </ul>
    <p>На сторінці редагування запису:</p>
    <ul>
        <li>вводити та редагувати дані у відповідних полях форми</li>
        <li>при прив’язування авторів до книги у користувача відображається
        додаткове меню із наявними авторами. Користувач може відібрати потрібний варіант звідти
        або ввести нового автора у полі-введення (при введені в це поле авторі в основному переліку
        будуть відфільтровуватись)</li>
        <li>також через цей відлік можна видалити прив’заних авторів</li>
        <li>результати цих вправ можна зберіги чи відмінити за допомогою відповідних клавіш у меню</li>
        <li>також перейти до початкового переліку клікнувши іконку на початку панелі меню (зміно, відповідно, не будуть збережені)</li>
   </ul>
   <p>На сторінці пошуку ви можете зробити пошук серед книг та авторів. Шукається кожне окреме слово введенного рядка.
       Тобто для гепотетичних даних при пошуковому запиті "маг меч" буду знайдені "[маг]азин іграшок", "як будувати [меч]еть" 
       і "[Меч]енный та[маг]авк". Останній результат буде відображено першим (оскільки для нього є два співпадіння. Всі співпадіння
       виокремлюються жовтим кольором.
    </p>
    <p>
        В кожному рядку результатів пошуку буде відображена відповідна іконка, що характерізує знайдений об’єкт - книга чи автор.
    </p>
    </div>

{% endblock %}
