{% from 'author_init.html' import page_icon, first_page %}
{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/script_info.js"></script>
{% endblock %}
{% block info_panel %}
    <form method="post" action="">
        <a href="{{first_page }}"><img src="{{page_icon}}"/></a>
        <a style="text-decoration:none" href="/authors/add/"><input type="button" value="add"/></a>
        <input type="submit" id="edit_btn" name="edit_button" value="edit"/>
        <input type="submit" name="delete_button" value="delete"/>
    </form>
{% endblock %}

{% block content %}

    <div id="element_row_container">
        <div class="element_row">
            <div class="element_cell">Автор</div>
            <div class="element_cell">{{ data.name }}</div>
        </div>
        <div class="element_row">
            <div class="element_cell">Книги</div>
            <div class="element_cell">
                {% for item in data.books %}
                    <a class="element_link" 
                        href ="{{ url_for('book_info', name_en = item.name_en) }}">
                        {{ item.name }}</a><br/>
                {% endfor %}    
            </div>
        </div>
    </div>
{% endblock %}
