<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{title|default('Бібліотека')}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/style.css"/>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div id="main_content">
        <a id="site_header" href = "/">
            <img src="/static/img/book_emblem.png"/>
            <div id="site_header_text">Бібліотека</div>
            <div style="clear:both"></div>
        </a>
        
        <div id="left_menu">
            <div style="height:140px"></div>
            <a href="{{ url_for('books_list') }}">Книги</a>        
            <a href="{{ url_for('authors_list') }}">Автори</a>        
            <a href="{{ url_for('search') }}">Пошук</a>        
        </div>
       <div id="content">
           {% block content_page_part %}
               {% block info_panel_outer %}
                    <div class="info-panel">
                        {% block info_panel %}
                        {% endblock %}
                    </div>
                {% endblock %}

 
            {% block content %}{% endblock %}
            {% endblock %}
        </div>
    <div style="height:40px;clear:both;"></div>
    </div>
    <div id="footer">Даний сайт розроблено!</div>
  </body>
</html>
