{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/script_list.js"></script>
{% endblock %}

{% block info_panel %}
        <img src="{{ page_icon }}"/>
        <input type="text" id="filter_field" placeholder="filter"/> 
        <div style="width:100px; display:inline-block"></div> 
        <a href="add" ><button>add</button></a>
        <input style="display:none" type="button" value = "delete" 
            name="delete_button" id="del_btn"/>
{% endblock %}


{% block content %}

    {% if data %}
        <div class="element_title_row">
            {% for name in data[0][1] %}
                <div class="element_title_cell">{{ name }}
                    <span class="sort_direct"></span></div>
            {% endfor %}
        </div>
    {% endif %}
    <div id = "element_row_container">
        {% for row in data %}
            <div class="element_row clickable" data-href="{{row[0] }}">
                {% for name in row[1] %}
                    <div class="element_cell">
                        {% if row[1][name] is string %}
                            {{ row[1][name] }}
                        {% else %}
                            {% for item in row[1][name] %}
                                <a class="element_link"
                                    href="/authors/{{item.name_en}}">
                                    {{ item.name }}</a>
                                {% if not loop.last %}, {%endif%}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
