{% extends "base.html" %}

{% block scripts %}
    <link rel = "stylesheet" type = "text/css" href = "/static/style_select_widget.css"/>
    <script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/script_edit.js"></script>
{% endblock %}

{% block content_page_part %}
<form class="edit_form" method="post" action="">
    <div class="info-panel">
        <a href="{{first_page}}"><img src="{{page_icon}}"/></a>
         {% if form.errors %}
            <table class="error_block">
                {% for error in form.errors %}
                <tr><td>поле "{{error}}"</td><td>
                    {% for error_msg in form.errors[error] %}
                        {{error_msg}} <br/>
                        {% endfor %}</td></tr>
               {% endfor %}
            </table>
        {%endif%}

        <input type="submit" name="save_button" value="save"/>
        <input type="submit" name="cancel_button" value="cancel"/>

    </div> 

    {% block content %}
        <div id="element_row_container">
        {% for item in form %}
            {% if item.type == 'FieldList' %}
                {% for elem in item %}
                    <div class="element_row">
                        <div class="element_cell">
                        {% if loop.first %}{{ elem.label }}{% endif %}
                        </div>
                        <div class="select-element-cell element_cell "
                                style="padding-right:0">
                        {{ elem }}
                        <div class="select-element-cell-triangle"></div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="element_row">
                <div class="element_cell" >
                    {% if item.flags.required %}
                        <span class="required">*</span>
                    {%endif%}       
                    {{ item.label }}
                </div>
                <div class="element_cell">
                    {{item}} 
                </div>
            </div>
            {% endif %}
        {% endfor %}    
        </div>
        {% for item in form %}
            {% if item.type == 'FieldList' %}
            <div class="select-widget-range">
                {% for i in item.choices %}
                <div class="select-widget-option" 
                    id="select-widget-option_{{i[0]}}">
                    <span class="id">{{i[0]}}</span><span class="value">{{i[1]}}</span></div> 
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
    {% endblock %}
</form>
{% endblock %}

