{% extends "base.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/script_search.js"></script>
{% endblock %}

{% block info_panel %}
    <img src="{{ url_for('static', filename='img/search.png') }}"/>
    {% include 'search_panel.html' %}
    {% include 'flash_messages.html' %}
{% endblock %}

{% block content %}

   {% for row in data %}
        <a class="element_row" href="/{{ row[0] }}/{{row[2]}}">
               {% if row[3] %}
               <img src="{{row[3]}}" class="found-element-icon"/>
               {% endif %}
           <div style="width:auto;"class="element_cell">
               {{ row[1] }}</div>
        </a>
    {% endfor %}
{% endblock %}
