.select-widget-range {
    display: none;
    float: left;
    background-color: #ddd;
    overflow-y: scroll;
    height: 200px;
    width: 300px;
    padding: 10px;
    # margin: 0 0 0 -15px;
}

.select-widget-element {
    display: inline-block;
    margin: 10px 5px 5px;
    width: 320px;
}

.select-widget-option {
    padding: 10px;
    border-bottom: 1px solid #CCC;
}

.select-widget-option:hover {
    background-color: #ccc;
}
.select-element-cell{
    padding: 0px 0px 0px 10px;
    font-style: italic;
    width: 350px;
}

.select-element-cell:hover{
    background-color: #eee;
}

.select-element-cell-triangle{
    width: 0px;
    height: 0px;
    border-right:20px solid #ddd;
    border-top: 19px solid transparent;
    border-bottom: 18px solid transparent;
    float: right;
    display: none;
}
.select-widget-option .id{
    display: none;
}

.select-widget-element input{
}

.select-widget-element .value{
    display: inline-block;
    width: 240px;
}

