html, body {
    margin: 0;
    height: 100%;
}

#main_content {
    min-height: 100%;
    width: 100%;
    background-image: url('/static/img/menu-background.png');
    background-repeat: repeat-y;
}

#site_header {
    background-color: #fafafa;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 0 5px #aaaaaa;
    position: relative;
    width: 100%;
    z-index: 2;
    top: 0;
    text-decoration: none;
    color: black;
    display: inline-block;
/*
    background-color: #fafafa;
    padding: 10px;
    margin: 0;
    box-shadow: 0 0 5px #aaaaaa;
    position: absolute;
    width: 100%;
    z-index:2;
    top: 0;
    text-decoration: none;
    color: black;
    */
}

#site_header img {
    max-width: 100%;
    max-height: 100px;
    float: left;
}

#site_header_text {
    font-size: 50px; 
    font-weight: bold; 
    height: 100px; 
    vertical-align: middle; 
    display: table-cell; 
    padding-left: 20px;"
}

#left_menu {
    width: 150px;
    background-color: #eeeeee;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    border-right: 1px solid #ddd;
}

#left_menu a {
    display: block;
    color: #666;
    text-decoration: none;
    padding: 10px 5px 10px 20px;
}

#left_menu a:hover {
    background-color: #ddd;
}

.unactive_menu {
    padding: 10px 5px 10px 20px;
    color: #AAA;
    border-left: 5px solid #008000;
}

#content {
    background-color: #fff;
    margin: -10px 0 0 150px;
    border-left: 1px solid #ddd;
}

#footer {
    bottom: 0;
    left: 0;
    margin-top: -40px;
    height: 20px;
    background-color: #eee;
    padding: 10px;
    box-shadow: 0 0 5px #aaaaaa;
    color: #aaa;
    text-align: center;
    position: relative;
}

.element_row {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: block;
    text-decoration: none;
    color: #000;
}
.element_cell {
    display: table-cell;
    width: 300px;
    padding: 10px 5px 10px 20px;
    vertical-align: top;
}

.element_title_row {
    
    border-bottom: 1px solid #ddd;
    height: 39px;
    background-color: #fafafa;
    font-family: sans-serif;
}

.element_title_cell {
    display: table-cell;
    color: #666;
    text-decoration: none;
    padding: 10px 5px 10px 20px;
    width: 276px;
}

.element_title_cell:hover {
    background-color: #eee;
}

.add_btn {
     background-image: url("/static/img/plus.png");
     width: 24px;
     height: 24px;
     display: inline-block;
     vertical-align:middle;
}

.add_btn:hover {
     background-image: url("/static/img/plus_active.png");
}
.message_block {
    padding: 40px;
    color: #555;
}

.info-panel {
    padding: 15px 10px 5px 10px; 
    background-color: #fafafa; 
    vertical-align:middle;
    border-bottom: 1px solid #ddd;
}

.info-panel img {
    vertical-align: middle;
}

.element_link {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dashed #555;
    font-style: italic;
}
.required {
    color: red;
}
.edit_form select[multiple] {
    width: 300px;
    height: 100px;;
}

.error_block {
    color : red;
}
.error_block td {
    vertical-align: top;
    padding: 5px 20px 
}
.flash_block {
    margin: 10px;
    color: green;
}
#element_row_container {
    min-width:500px;
}
.found-element-icon {
    float: left;
    max-width: 35px;
    max-height: 35px;
    vertical-align: middle;
    margin: 2px 2px 0 10px;
}
.span-found-lighted {
    background-color: yellow;
}
#info_content {
    padding: 0 20px;
}
